@media only screen and (min-width: 1024px) {
  #movieInfo {
    flex-direction: row;
  }
}

@media only screen and (min-width: 560px) {
  #appTitle {
    font-size: 80px;
  }
  label {
    font-size: 45px;
  }
}
